@font-face {
    font-family: 'Jersey 25';
    src: url(../Fonts/Jersey25-Regular.ttf)
}

* {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 90px;
    color: brown;
    text-align: center;
    text-decoration: underline dotted black;
}
h2{
    font-size: small;
    font-style: oblique;
    text-align: right;
    text-decoration: underline overline red;
}
h3{
    font-size: 1.5em;
    text-decoration: underline dashed green;
}
p{
    font-size: 125%;
    font-style: italic;
}
#underline{
    text-decoration: underline;
    color: green;
}
img{
    float:right;
}
#bold{
    font-weight:bold;
    font-style: normal;
    text-decoration: underline double;
}